*{
    margin: 0;
    padding: 0;
}


.cabeçalho {
    background-color: #FF914D;
    color: white;
    display: flex;
    padding: 5px 0;
}
.cabeçalho-imagem {
    width: 40%;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 72px;
    padding: 156px 0;
    font-size: 24px;
}
